@import "../../common/colors.scss";

.MovieListing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // margin-bottom: 6rem;
}

.movie-list,
.show-list {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        color: $font-secondary;
        margin-bottom: 3rem;
        font-size: 2rem;
        align-self: self-start;
    }

    .movie-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    
}
.show-list {
    margin-bottom: 6rem;
}