@import "../../common/colors.scss";

.Footer{
    bottom:0%;
    height: 6rem;
    padding: 0rem 3rem ;
    background-color:$secondary-color;
    color:$font-primary;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-top: 6rem;
    // position: absolute;
    // bottom:0px;
    // left:0px;
    // right:0px;
}